* {
    text-align: center;
}

#credit {
    text-decoration: none;
    text-align: right;
    font-weight: bold;
}

.hourly canvas {
    margin-top: 20px;
    margin-left: 30px;
}

@media screen and (max-width: 992px) {
    .hourly canvas {
        margin-left: 0px;
    }
}
@media screen and (max-width: 768px) {
    .hourly canvas {
        margin-top: 10px;
    }
}

.dailyWeather {
    padding: 20px 0px;
    height: 350px;
}

#today {
    padding-top: 20px;
}